@import '../styles/colors';

aside {
    padding: 24px 0px 24px 32px;
    box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 0.95);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }

    h2 {
        font-size: 20px;
        color: $black-color;
        margin-bottom: 32px;
    }
}


nav {
    ul {
        list-style-type: none;
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 600;
            color: $black-color;
            font-size: 20px;
            margin-bottom: 40px;

            &:last-child{
                margin-bottom: 0px;
            }

            a, .menuItemLabel {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $black-color;
            
                p {
                    margin-left: 16px;
                }
            }

        }
        .childMenuItems {
            margin-left: 48px;
        }

        .parentMenuItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 20px;
        }
    }
}